@font-face{
  font-family:"The Golden Blade";	
	src:url("fuente/The Golden Blade.ttf");

}

body{
	margin:0%;
	font-family:arial, verdana, sans-serif;
	
}

video{
width:424px;
	
}

.video{
  width:424px;
}


h1{
font-family:"The Golden Blade";
line-height:35px;
margin-right:3%;
margin-left:3%;
letter-spacing:5px;
	
	
}
h2{
line-height:30px;
margin-right:3%;
margin-left:3%;
letter-spacing:5px;
	font-family:"The Golden Blade";
}


p{
 font-size:18px;
color:white;
line-height:30px;
margin-right:2%;
margin-left:2%;
text-align:justify;

}

strong{
	
color:red;	

}


header{
	width:100%;
	height:auto;
	display:flex;
	background-color:black;
	background:linear-gradient(blue,red);
	justify-content:space-evenly;
    align-items: center;
}

.logo1{
	width:10%;
	height:auto;
	display:flex;
}

img{
	width:100%;
	height:auto;
	
}	


nav{
	width:70%;
	height:auto;
    display:flex;
	justify-content: space-evenly;
	
}

nav a:link, nav a:visited {
	font-weight:bold;
	text-decoration:none;
	color:white;
	width:19%;
	height:61px;
	display:flex;
	background:linear-gradient(#c7b43a, black);
	justify-content: space-evenly; /*alineación horizontal */
	align-items:center; /*alineación vertical*/	
	transition:all 1.3s;
	
}

nav a:hover{
	background:linear-gradient(black, white);
	color:#c7b43a;
	font-size:26px;
	width:20%;
	transition:all 1.3s;
	font-family:"The Golden Blade";
}
.diferente2{
	font-weight:bold;
	text-decoration:none;
	color:#c7b43a;
	width:20%;
	height:61px;
	display:flex;
	background:linear-gradient(black,white );
	justify-content: space-evenly; /*alineación horizontal */
	align-items:center; /*alineación vertical*/	
	font-family:"The Golden Blade";
		font-size:26px;
	
}


main{
	width:100%;
	height:auto;
	display:flex;
	background:linear-gradient(red, white );
	justify-content:space-evenly;
    align-items: center;
	
}
header{
	
	align-items:center;
	
}
h1{
	    font-size: 49px;
}
.tarjeta2{
width: 98%;
align-items: center;
margin:1%;
border-color: #adaba8;
border-width: 1px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;	
}
.diferente1{
font-size:68px;	
font-family:"The Golden Blade";
line-height:35px;
margin-right:3%;
margin-left:3%;
letter-spacing:5px;
	

}

.diferente9{
	justify-content: space-evenly;
	align-items: center;
    flex-direction: column;

}

.diferente11{
margin:1.2%;
font-size:18px;
color:white;
line-height:30px;
margin-right:2%;
margin-left:2%;
text-align:justify;

	
	
}
.diferente3{
 font-size: 91px;
 font-family:"The Golden Blade";
line-height:35px;
margin-right:3%;
margin-left:3%;
letter-spacing:5px;
	
}

.diferente4{
width: 20%;	
height:auto;
	background-color:black;
	color:#c7b43a;
}

.diferente5{
	width: 24%;
	height:auto;
	background-color:black;
	display:flex;
	color:#c7b43a;
    flex-direction: column;	
	
}

.texto{
	width:50%;
	height:auto;
	background-color:black;
	display:flex;
	color:#c7b43a ;
    flex-direction: column;	
}

.foto{
	width:42%;
	height:auto;
	background-color:olive;
	
	
}

footer{
	width:100%;
	height:auto;
	display:flex;
	background:linear-gradient(white,blue);
	justify-content:space-evenly;
    align-items: center;
	
}

.logo2{	
	width:6%;
	height:auto;
	background-color:#e81a0c;
	
}

.contacto{
	width:20%;
	height:auto;
	display:flex;
	justify-content:space-evenly;
    align-items: center;	
}


.contacto img{
	width:75%;
	height:auto;
	
}

.contacto a:link{
	width:60%;
	height:auto;
		justify-content:space-evenly;
    align-items: center;	
}

.otras_murgas{
	width:17%;
	height:auto;
	display:flex;
	justify-content:space-evenly;
    align-items: center;	
}

.otras_murgas img{
	width:70%;
	height:auto;
	
}

.otras_murgas a:link{
	width:70%;
	height:auto;
	
}


.social{
	width:45%;
	height:70px;
	height:70px;
	background-color:#e81a0c;	
	
}


.diferente6{
	 width: 103px;
	height: 134px;
	display:flex;
	justify-content:space-evenly;
    align-items: center;
	
	
}



.diferente7{

	display:flex;

	
}	

.diferente8{
	
flex-wrap: wrap;	
	
	
	
	
}

/*mediaqueries*/
@media screen and (max-width:800px)
{
	h1{
	    font-size: 44px;	
		font-family: "The Golden Blade";
		line-height:39px;
	}
	h2{
	line-height: 30px;
    margin-right: 3%;
    margin-left: 3%;
    letter-spacing: 5px;
    font-family: "The Golden Blade";	
	font-size: 27px;
	}
	
  .texto{
        background-color:black;
        width:81%;
       }	
 
 .logo1{
	 width:35%;
 }
 .foto{
	 width:88%;
 }
  main{
	  flex-direction:column
  }
  
  nav{
	 flex-direction:column;
	 align-items:center;
  }
 nav a:link{
	 width:61%;
	 height:auto;
	 padding:1%;
  }
  
nav a:hover{
	background:linear-gradient(black, white);
	color:#c7b43a;
	font-size:26px;
	width:63%;
	height:41px;
	transition:all 1.3s;
	font-family:"The Golden Blade";
}
  
  .logo2{
	  width:23%;
  }
	
.contacto{
	width:58%;
	height:auto;
	display:flex;
	justify-content:space-evenly;
    align-items: center;	
}


.contacto img{
	width:60%;
	height:auto;
	
}

.contacto a:link{
	width:60%;
	height:auto;
		justify-content:space-evenly;
    align-items: center;	
}
.otras_murgas{
	width:46%;
	height:auto;
	display:flex;
    justify-content: flex-end;	
}

.otras_murgas img{
	width:70%;
	height:auto;
	
}

.otras_murgas a:link{
	width:70%;
	height:auto;
	
}


.social{
	width:45%;
	height:70px;
	height:70px;
	background-color:#e81a0c;	
	
}


footer{
  width: 100%;
  height: auto;
  display: flex;
  background: linear-gradient(white, blue);
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
		
}
.diferente1{
	    font-size: 64px;
    font-family: "The Golden Blade";
    line-height: 35px;
    margin-right: 7%;
    margin-left: 4%;
    letter-spacing: 3px;
	
	
	
}



 .diferente2{
	font-weight:bold;
	text-decoration:none;
	color:#c7b43a;
	width:63%;
	height:41px;
	display:flex;
	background:linear-gradient(black,white );
	justify-content: space-evenly; /*alineación horizontal */
	align-items:center; /*alineación vertical*/	
	font-family:"The Golden Blade";
    font-size:26px;
	
}

.diferente9{
	justify-content: space-evenly;
	align-items: center;
    flex-direction: column;
	flex-wrap:wrap;
	
	
	
}

.video{
  width:388px;
 
}
video{
width:369px;
	
}

.diferente3{
 font-size: 65px;
 font-family:"The Golden Blade";
line-height:68px;
margin-right:3%;
margin-left:3%;
letter-spacing:5px;
	
}

.diferente4{
width: 48%;	
height:auto;
	background-color:black;
	color:#c7b43a;
}

.diferente5{
	width:48%;
	height:auto;
	background-color:black;
	display:flex;
	color:#c7b43a;
    flex-direction: column;	
	
}

}

